html{

    background-color: rgb(213, 225, 233);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: linear-gradient(rgb(86, 126, 157), rgb(24, 34, 65));
    text-align: center;
    height: 12rem;
}

h1 {
    padding-top:5rem;
    color:rgb(244, 244, 249);
}

h4{
     color:rgb(8, 8, 115);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

button{

    padding-left: 1rem;
    padding-right: 1rem;
}

p, span{

    color: blue;
}

.maindiv{

    text-align: center;
    padding-bottom: 2rem;
}

button:hover {
       border-radius: 5px;
    background-color: rgb(121, 166, 240);
}
